<html>
  <head>  
    <title="Welcome">
  </head>
  <body>
    <h1> Welcome </h1>
    {{ blob }}
    
    <p> We are conducting a study about brand perception that is reflected in
    discussion on twitter.</p>
    
    <p> As an example, we are focusing on a telecommunications company,
    Orange, which is a branch of France Telecom </p>

    <p> You will be presented with a series of tweets, each followed by
    several questions that aim to assess the relevance of the tweet and how it
    reflects the tweeter's sentiment. </p>

    <p> About us: We are a research group at USC's AIL and SAIL labs, which
    comprises social scientists and engineers.  We proudly support open source
    and dissemination of our results </p>

    <p> Mechanical Turkers: we verify the quality of the results using
    randomly presented indicator stimuli.  However, we select Turkers with
    high past acceptance, so in practice we reject very few HITs.
    
    <form name="start"  method="get" action="{{next}}">

      <input type="text"   name="age" id="age">
      <label for="age">Age</label>
      <br/>
      <input type="text"   name="gender" id="gender">
      <label for="gender">Gender</label>
      <br/>
      <input type="text"   name="nativeLanguage" id="nativeLanguage">
      <label for="nativeLanguage">Native language</label>
      <br/>
      <input type="text"   name="countryOfResidence" id="countryOfResidence">
      <label for="countryOfResidence">Country of Residence</label>
      <input type="hidden" name="cmd" value="login">
      <br/>
      <input type="submit" value="Start" />
    </form>
  </body>
</html>
